body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pepee {
	width: 620px;
	height: 620px;
	background: url('pepee.jpg');
	display: flex;
	background-size: cover;
}

.eye {
	position: relative;
	width: 80px;
	height: 80px;
	top: 290px;
	display: inline-flex;
	border-radius: 50%;
	background: white;
	box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.7);
	transform: rotate(0deg);
}

.lefteye {
	left: 190px;
}

.righteye {
	left: 260px;
	top: 325px;
}

.eye:after {
	content: '';
	width: 20px;
	height: 20px;
	background: radial-gradient(circle, white 10%, black 20%, black 80%, white 100%);
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 50px;
}
